PORT=3000

# Database
POSTGRES_HOST='aws-0-eu-central-1.pooler.supabase.com'
POSTGRES_PORT=6543
POSTGRES_USER=postgres.dfrxqcmtzvvwrvlclmfg
POSTGRES_PASSWORD=qwerty123uiop45678901
POSTGRES_DATABASE=postgres

# JWT 
JWT_SECRET=supersecret123